.board {
    background-color: rgb(255, 255, 255);
    color: rgb(9, 30, 66);
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    text-align: left;
}
